*,
*::before,
*::after {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #191919;
  font-family: 'Courier New', Courier, monospace;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}
.btn {
  position: relative;
  text-decoration: none;
  color: #fff;
  background-color: #191919;
  padding: 15px 35px;
  border: 1px solid #919191;
  border-radius: 3px;
  font-size: 20px;
  letter-spacing: 2px;
  box-shadow: #61616129 0 10px 36px 0, #8888880f 0 0 0 1px;
  transition: all 0.8s ease-in-out;
}
.btn::before {
  content: '';
  position: absolute;
  left: -8px;
  top: -6px;
  width: 80px;
  height: 20px;
  border: 2px solid var(--color);
  border-radius: 2px;
  z-index: -1;
}
.btn::after {
  content: '';
  position: absolute;
  right: -8px;
  bottom: -6px;
  width: 40px;
  height: 20px;
  border: 2px solid var(--color);
  z-index: -1;
}
.btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color);
  border-radius: 2px;
  z-index: -1;
  transition: all 0.8s ease-in-out;
}
.btn span:nth-child(1) {
  right: -8px;
  top: -8px;
}
.btn span:nth-child(2) {
  left: -8px;
  bottom: -8px;
}
.btn:hover {
  color: var(--color);
}
.btn:hover span {
  transform: rotate(540deg);
  border: 2px solid #919191;
}